* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/frontendBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}

.heading {
  color: #F33052;
}

.pages-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;

}